<div id="OSB-theme-app-extension-customer-portal"></div>

{% schema %}
  {
    "name": "Endor Customer Portal",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
        { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}