<!-- When the addon is installed, OSB_EXTENSION_NAME will be replaced by your addon name -->
<div id="OSB-theme-app-extension-OSB_EXTENSION_NAME"></div>

{% schema %}
  {
    "name": "Endor Customer Portal",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
        { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}